{% extends "template.html" %}
  {% block title %}STC - Sign-Up{% endblock %} 
  {% block bodyBackImg %}
  <body background="{{url_for('static', filename='/imgs/templateBackgroundImage.jpg')}}" opacity=.1>
  {% endblock %}

{% block heading1 %}Sign Up to Star Wars Collectors{% endblock %}

{% block dataHeading %}
  <p>Create your own account, then you can track and share your collection with other collectors</p>
{% endblock %}

{% block data %}
  <p>This will contain Account creation code</p>
{% endblock %}
